In [1]:
import pandas as pd

In [10]:
df = pd.read_csv("MC_2.csv")

In [15]:
df[['C_Che','IC_Che','Strain','K','Method','D_Che','Strain','Tgt']][df.Che_f == 'Yes']

       C_Che   IC_Che   Strain  K Method    D_Che   Strain           Tgt
0    0.00008  0.00000  iAF1260  1      M  0.00008  iAF1260  1.000000e+00
1    0.85104  0.85092  iAF1260  1      M  0.00012  iAF1260  9.000000e-01
2    0.85103  0.85092  iAF1260  1      M  0.00011  iAF1260  8.000000e-01
11   0.00011  0.00000  iAF1260  1      O  0.00011  iAF1260  1.000000e+00
12   0.85092  0.85092  iAF1260  1      O  0.00000  iAF1260  9.000000e-01
..       ...      ...      ... ..    ...      ...      ...           ...
290  7.88535  7.88535   iJR904  3      P  0.00000   iJR904  6.000000e-01
291  9.20786  9.20786   iJR904  3      P  0.00000   iJR904  5.000000e-01
292  9.20786  9.20786   iJR904  3      P  0.00000   iJR904  4.000000e-01
294  9.20786  9.20786   iJR904  3      P  0.00000   iJR904  2.000000e-01
296  6.48526  6.48526   iJR904  3      P  0.00000   iJR904  1.400000e-16

[154 rows x 8 columns]

In [4]:
d

,C_Bio,C_Che,Method,K,IC_Che,D_Che,Che_f,Strategy,Strain
4,0.53134,7.17782,M,1,0.00000,7.17782,No,['RPI'],iAF1260
10,0.00000,16.72215,M,1,0.00000,16.72215,No,['ICDHyr'],iAF1260
21,0.00000,16.72215,O,1,0.00000,16.72215,No,['ICDHyr'],iAF1260
24,0.70846,3.99248,P,1,0.00000,3.99248,No,['FRD2'],iAF1260
25,0.61990,5.58515,P,1,0.00000,5.58515,No,['FRD2'],iAF1260
...,...,...,...,...,...,...,...,...,...
283,0.18439,17.37160,O,3,2000.00000,1982.62840,No,"['PGI', 'TKT1', 'TPI']",iJR904
284,0.09219,25.18529,O,3,15.29106,9.89423,No,"['AKGDH', 'ICDHyr', 'PGL']",iJR904
285,0.00000,27.49286,O,3,20.00000,7.49286,No,"['CS', 'FRD2', 'MDH']",iJR904
293,0.27658,20.50494,P,3,13.98829,6.51665,No,"['ICDHyr', 'MDH2', 'PGL']",iJR904
295,0.09219,18.68351,P,3,17.99265,0.69086,No,"['ICDHyr', 'PGI', 'TALA']",iJR904

,C_Bio,C_Che,Method,K,Tgt,IC_Che,D_Che,Che_f,Strategy,Strain
4,0.53134,7.17782,M,1,6.000000e-01,0.00000,7.17782,No,['RPI'],iAF1260
10,0.00000,16.72215,M,1,1.400000e-16,0.00000,16.72215,No,['ICDHyr'],iAF1260
21,0.00000,16.72215,O,1,1.400000e-16,0.00000,16.72215,No,['ICDHyr'],iAF1260
24,0.70846,3.99248,P,1,8.000000e-01,0.00000,3.99248,No,['FRD2'],iAF1260
25,0.61990,5.58515,P,1,7.000000e-01,0.00000,5.58515,No,['FRD2'],iAF1260
...,...,...,...,...,...,...,...,...,...,...
283,0.18439,17.37160,O,3,2.000000e-01,2000.00000,1982.62840,No,"['PGI', 'TKT1', 'TPI']",iJR904
284,0.09219,25.18529,O,3,1.000000e-01,15.29106,9.89423,No,"['AKGDH', 'ICDHyr', 'PGL']",iJR904
285,0.00000,27.49286,O,3,1.400000e-16,20.00000,7.49286,No,"['CS', 'FRD2', 'MDH']",iJR904
293,0.27658,20.50494,P,3,3.000000e-01,13.98829,6.51665,No,"['ICDHyr', 'MDH2', 'PGL']",iJR904
295,0.09219,18.68351,P,3,1.000000e-01,17.99265,0.69086,No,"['ICDHyr', 'PGI', 'TALA']",iJR904